<launch>
  
  <arg name="model" default="$(find rviz_teleop_commander)/urdf/fmav.urdf"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <param name="logo_path" type="string" value="$(find rviz_teleop_commander)/ico/ico.png"/>
  <param name="/mav_driver/port" type="string" value="/dev/ttyUSB0"/>
  <param name="/mav_driver/baudrate" type="int" value="460800" />

  <node name="joy_node" pkg="joy" type="joy_node" output="screen">
    <param name="deadzone" type="double" value="0.0" />
  </node>
  
  <node name="mav_comm_driver_node" pkg="mav_comm_driver" type="mav_comm_driver_node" output="screen"/>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rviz_teleop_commander)/rviz/gcs.rviz" output="screen" required="true" />

  <!-- <include file= "$(find vicon_bridge)/launch/vicon.launch"/> -->

</launch>
