<launch>
  
  <arg name="model" default="$(find rviz_teleop_commander)/urdf/flapper_sjtu.urdf"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <param name="logo_path" type="string" value="$(find rviz_teleop_commander)/ico/ico.png"/>
  <param name="/mav_driver/port" type="string" value="/dev/ttyACM0"/>
  <param name="/mav_driver/baudrate" type="int" value="921600" />

  <node name="joy_node" pkg="joy" type="joy_node" output="screen">
    <param name="deadzone" type="double" value="0.0" />
  </node>
  
  <node name="mav_comm_driver_mfp_node" pkg="mav_comm_driver" type="mav_comm_driver_mfp_node" output="screen"/>
  
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rviz_teleop_commander)/rviz/gcs.rviz" output="screen" required="true" /> -->
  <node name="rqt" pkg="rqt_gui" type="rqt_gui" output="screen" required="true" />

  <node pkg="tf" type="static_transform_publisher" name="bl2fm"  args="1.286e-3 -0.551e-3 41.911e-3 0 0 0 /base_link /flapping_mechanism 50" />
  <node pkg="tf" type="static_transform_publisher" name="fm2lle"  args="0 13.95e-3 18.9913e-3 0 0 0 /flapping_mechanism /left_leading_edge 50" />
  <node pkg="tf" type="static_transform_publisher" name="lle2lw"  args="0 0 0 0 0 0 /left_leading_edge /left_wing 50" />
  <node pkg="tf" type="static_transform_publisher" name="fm2rle"  args="0 -13.95e-3 18.9913e-3 0 0 0 /flapping_mechanism /right_leading_edge 50" />
  <node pkg="tf" type="static_transform_publisher" name="rle2rw"  args="0 0 0 0 0 0 /right_leading_edge /right_wing 50" />

  <!-- <include file= "$(find vicon_bridge)/launch/vicon.launch"/> -->

</launch>
